/* ========================
    Import Font Css Starts
========================= */

$ffreg :avenir-reg;
$ffrom :avenir-rom;
$ffbk :avenir-bk;

@font-face {
    font-family: $ffreg;
    src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: $ffrom;
    src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: $ffbk;
    src: url(../fonts/AvenirLTStd-Black.otf);
}

/* ========================
    Import Font Css Ends
========================= */