@mixin avereg-re {
    font-family: $ffreg;
    font-weight: 400;
}

@mixin averom-re {
    font-family: $ffrom;
    font-weight: 400;
}

@mixin averom-md {
    font-family: $ffrom;
    font-weight: 500;
}

@mixin avebk {
    font-family: $ffbk;
    font-weight: 400;
}

@mixin avebk-bl {
    font-family: $ffbk;
    font-weight: 900;
}


@mixin trans($time) {
    transition: all linear $time;
    -ms-transition: all linear $time;
    -moz-transition: all linear $time;
    -o-transition: all linear $time;
    -webkit-transition: all linear $time;
}