* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

/* =================
    Common Css Ends
==================== */
/* ========================
    Import Font Css Starts
========================= */
@font-face {
  font-family: avenir-reg;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: avenir-rom;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenir-bk;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

/* ========================
    Import Font Css Ends
========================= */
/* ========================
    Import Font Css Starts
========================= */
@font-face {
  font-family: avenir-reg;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: avenir-rom;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenir-bk;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

/* ========================
    Import Font Css Ends
========================= */
/* ====================
    Banner Part Starts
===================== */
#banner {
  background: url(../images/banner.jpg);
  position: relative;
  z-index: 1;
  padding-top: 150px;
  padding-bottom: 95px;
}

#banner::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: #043caa;
  background: -webkit-gradient(linear, left top, right top, from(#043caa), color-stop(33%, rgba(4, 60, 170, 0.86)), to(rgba(4, 60, 170, 0)));
  background: linear-gradient(90deg, #043caa 0%, rgba(4, 60, 170, 0.86) 33%, rgba(4, 60, 170, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#043caa", endColorstr="#043caa", GradientType=1);
  z-index: -1;
}

#banner .banner-text h1 {
  font-family: avenir-bk;
  font-weight: 900;
  font-size: 48px;
  color: #fff;
  line-height: 66px;
  margin-bottom: 15px !important;
}

#banner .banner-text p {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  margin-bottom: 45px !important;
}

#banner .banner-text .banner-menu ul {
  margin-bottom: 55px !important;
}

#banner .banner-text .banner-menu ul li {
  margin-right: 20px;
}

#banner .banner-text .banner-menu ul li a {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  display: inline-block;
  line-height: 45px;
  border: 1px solid #fff;
  padding: 0 35px;
  border-radius: 25px;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#banner .banner-text .banner-menu ul li a:hover {
  background: #fff;
  border-color: #fff;
  color: #043CAA;
}

#banner .banner-text .banner-menu ul li:last-of-type {
  margin-right: 0;
}

#banner .banner-text .search-bar .input-group {
  position: relative;
}

#banner .banner-text .search-bar .input-group i {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2222;
  color: #7A7A7A;
}

#banner .banner-text .search-bar .input-group .form-control {
  font-family: avenir-reg;
  font-weight: 400;
  font-size: 16px;
  color: #7A7A7A;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0;
  padding-left: 50px;
  padding-right: 10px;
  line-height: 48px;
}

#banner .banner-text .search-bar .input-group .input-group-text {
  font-family: avenir-bk;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1BC768;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 28px;
}

/* ====================
    Banner Part Ends
===================== */
/* ========================
    Import Font Css Starts
========================= */
@font-face {
  font-family: avenir-reg;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: avenir-rom;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenir-bk;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

/* ========================
    Import Font Css Ends
========================= */
/* ======================== 
    Our Affliation Starts
======================== */
#our-affliation {
  margin-top: 85px;
}

#our-affliation .our-affliation h3 {
  font-family: avenir-bk;
  font-weight: 900;
  position: relative;
  font-size: 36px;
  color: #043CAA;
  margin-bottom: 70px !important;
}

#our-affliation .our-affliation h3::before {
  content: '';
  width: 49px;
  height: 5px;
  background: #043CAA;
  position: absolute;
  bottom: -15px;
  right: 50%;
  border-radius: 25px 0 0 25px;
}

#our-affliation .our-affliation h3::after {
  content: '';
  width: 42px;
  height: 5px;
  background: #1BC768;
  position: absolute;
  bottom: -15px;
  left: 50%;
  border-radius: 0 25px 25px 0;
}

#key-benefits {
  margin-top: 110px;
}

#key-benefits .key-benefit-heading h3 {
  font-family: avenir-bk;
  font-weight: 900;
  position: relative;
  font-size: 36px;
  color: #043CAA;
  margin-bottom: 70px !important;
}

#key-benefits .key-benefit-heading h3::before {
  content: '';
  width: 49px;
  height: 5px;
  background: #043CAA;
  position: absolute;
  bottom: -15px;
  right: 50%;
  border-radius: 25px 0 0 25px;
}

#key-benefits .key-benefit-heading h3::after {
  content: '';
  width: 42px;
  height: 5px;
  background: #1BC768;
  position: absolute;
  bottom: -15px;
  left: 50%;
  border-radius: 0 25px 25px 0;
}

#key-benefits .key-benefit-item:nth-child(3) {
  padding-top: 50px;
  padding-bottom: 80px;
}

#key-benefits .key-benefit-item:nth-child(4) .benefit-text {
  margin-top: 150px;
}

#key-benefits .key-benefit-item .benefit-text {
  margin-top: 90px;
}

#key-benefits .key-benefit-item .benefit-text h4 {
  font-family: avenir-reg;
  font-weight: 800;
  font-size: 24px;
  color: #043CAA;
  padding-right: 115px;
  line-height: 33px;
  margin-bottom: 40px !important;
}

#key-benefits .key-benefit-item .benefit-text ul li {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}

#key-benefits .key-benefit-item .benefit-text ul li i {
  font-size: 14px;
  margin-right: 13px;
  color: #043CAA;
}

#key-benefits .key-benefit-item .benefit-text a {
  font-family: avenir-rom;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  line-height: 47px;
  padding: 0 35px;
  color: #1BC768;
  border: 1px solid #1BC768;
  border-radius: 25px;
  margin-top: 15px;
  transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}

#key-benefits .key-benefit-item .benefit-text a:hover {
  background: #1BC768;
  color: #fff;
}

#key-benefits .key-benefit-item .benefit-text a i {
  line-height: 47px;
}

/* ======================== 
    Our Affliation Ends
======================== */
/* ========================
    Import Font Css Starts
========================= */
@font-face {
  font-family: avenir-reg;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: avenir-rom;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenir-bk;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

/* ========================
    Import Font Css Ends
========================= */
/*========================= 
    Client Comments Starts
========================= */
#client-comments {
  margin: 140px 0;
  position: relative;
}

#client-comments::before {
  content: '';
  background: url(../images/medicine.jpg) no-repeat center/cover;
  width: 50%;
  height: 100%;
  position: absolute;
}

#client-comments .client-comments {
  padding-top: 90px;
  padding-bottom: 140px;
}

#client-comments .client-comments h3 {
  font-family: avenir-rom;
  font-weight: 800;
  position: relative;
  font-size: 36px;
  color: #222;
  margin-bottom: 60px !important;
}

#client-comments .client-comments h3::before {
  content: '';
  width: 49px;
  height: 5px;
  background: #043CAA;
  position: absolute;
  bottom: -15px;
  right: 50%;
  border-radius: 25px 0 0 25px;
}

#client-comments .client-comments h3::after {
  content: '';
  width: 42px;
  height: 5px;
  background: #1BC768;
  position: absolute;
  bottom: -15px;
  left: 50%;
  border-radius: 0 25px 25px 0;
}

#client-comments .client-comments .comments-slider .comments-item {
  padding-left: 60px;
}

#client-comments .client-comments .comments-slider .comments-item p {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  padding-right: 55px;
  color: #1BC768;
  margin-bottom: 20px !important;
}

#client-comments .client-comments .comments-slider .comments-item h5 {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 17px;
  color: #043CAA;
}

/*========================= 
    Client Comments Ends
========================= */
/* ========================
    Import Font Css Starts
========================= */
@font-face {
  font-family: avenir-reg;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: avenir-rom;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: avenir-bk;
  src: url(../fonts/AvenirLTStd-Black.otf);
}

/* ========================
    Import Font Css Ends
========================= */
/* ========================== 
    Subscribe Status Starts
========================== */
#subscribe {
  padding-top: 90px;
  padding-bottom: 110px;
  background: #043CAA;
}

#subscribe .subscribe-inform {
  color: #fff;
  padding-left: 70px;
}

#subscribe .subscribe-inform h3 {
  font-family: avenir-bk;
  font-weight: 900;
  font-size: 24px;
  padding-bottom: 20px;
}

#subscribe .subscribe-inform p {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

#subscribe .subscribe-contact h5 {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  padding-bottom: 15px;
}

#subscribe .subscribe-contact .input-group {
  position: relative;
}

#subscribe .subscribe-contact .input-group .form-control {
  font-family: avenir-reg;
  font-weight: 400;
  font-size: 16px;
  color: #7A7A7A;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0;
  padding-left: 25px;
  padding-right: 10px;
  line-height: 50px;
}

#subscribe .subscribe-contact .input-group .input-group-text {
  font-family: avenir-rom;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: #1BC768;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 25px;
}

#subscribe .subscribe-contact .input-group .input-group-text i {
  padding-left: 12px;
}

/* ========================== 
    Subscribe Status Ends
========================== */
/*# sourceMappingURL=style.css.map */