* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

img {
    vertical-align: middle;
}

/* =================
    Common Css Ends
==================== */

// Import Scss

@import 'variables';
@import 'banner';
@import 'affiliations';
@import 'client-comments';
@import 'subscribe_contact';